@import './bootstrap/variables.css';
@import './bootstrap/normalize.css';

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-block-size: 100vh;
	background-color: var(--bg);
}

.card {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	max-inline-size: 43.75rem;
	border: 0.0625rem solid var(--grey);
}

.card__image {
	vertical-align: middle;
}

.card__info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-inline-size: 35.75rem;
}

.card__info-link {
	color: var(--white);
	font: var(--body2-bold);
	text-decoration: none;
}

.card__info-link--active {
	color: var(--blue);
}

.email {
	color: var(--grey);
	font: var(--body2-regular);
}

.card__info-paragraph {
	color: var(--white);
	font: var(--body2-regular);
	margin: 0;
}

.card__info-actions {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.widget-link {
	display: flex;
	align-items: center;
	gap: 1rem;
	border: 0.0625rem solid var(--grey);
	border-radius: 1.5rem;
	overflow: hidden;
	text-decoration: none;
}

.widget-link__image {
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
}

.widget-link__title {
	font: var(--body1-bold);
	color: var(--white);
}

.widget-link__info {
	display: flex;
	flex-direction: column;
}

.widget-link__paragraph {
	display: none;
	margin: 0;
}

.reactions {
	display: flex;
	align-items: center;
}

.reactions__image {
	padding: 0;
	height: 50px;
	width: 50px;
	background: url('./../assets/img/sprite-heards.png') no-repeat;
	border: none;
	cursor: pointer;
}

.heard-animation {
	animation: sprite 1s steps(28) forwards;
}

.reactions__count {
	font: var(--body2-regular);
	color: var(--grey);
}

@media screen and (min-width: 767px) {
	.card__info-link {
		font: var(--body1-bold);
	}

	.card__info-paragraph,
	.card__info-link--active {
		font: var(--body1-regular);
	}

	.email {
		font: var(--body1-regular);
	}

	.widget-link__title {
		font: var(--body1-regular);
	}

	.widget-link__info .email {
		display: none;
	}

	.widget-link__paragraph {
		display: block;
		color: var(--grey);
		font: var(--body1-regular);
	}
}

@keyframes sprite {
	from {
		background-position: left;
	}

	to {
		background-position: right;
	}
}